*{
    padding: 0;
    margin: 0;
   
}
main{
    background-color: #ece1e1;
    padding-top: 80px;
}
.description h1, .firstdiv h1, .firstdiv1 h1, .one-one{
    font-family: 'Inter', sans-serif;
    margin-bottom: 20px;
}
header{
    background-image: url('../images/donation1.jpg'),  linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%);
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: 0%; 
    height: 80vh;
    padding-bottom: 60px;
    background-blend-mode: darken;
    

}

.description{
    display: block;
    padding: 235px 307px ;
    text-align: center;
    color: white;
    
}


.ban-des, .firstdiv p, .firstdiv1 p{
    font-size: 18px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}
.btn-donate{
    background: #f51010;
    border-radius: 5px;
    padding: 16px 16px;
    gap: 8px;
    border: 0;

    margin-top: 30px;
    font-size: 20px;
    font-weight: 500;
    color: white;
}
/* 2nd part */
.firstdiv{
    margin-top: 130px;
    text-align: center;
    justify-items: center;
    display: inline;
    padding-left: 365px;
    padding-right: 365px;
    
}
.firstdiv1{
    margin-top: 120px;
    text-align: center;
    display: inline;

    margin-bottom: 50px;

}
.firstdiv1 p{
    justify-content: center;
    padding-right: 360px;
    padding-left:360px ;
}

.btn-takas{
    display: flex;
    gap: 20px;
    list-style: none;
    justify-content: center;
}
.taka{
    margin-top: 50px;
    border: 0;
    border-radius: 5px;
    height: 123px;
    width: 136px;
    font-weight: 700;
    font-size: 30px;
    color: #707070;
    
}
.taka:hover{
    border: 2px solid #7bcef4;
    background: #ea8989;
    color: orangered;
}
.first-form{
    margin-top: 60px;
    text-align: center;
    margin-bottom: 130px;
}
.for-align{
    padding-left: 340px;
    padding-right: 340px;
    margin-bottom: 50px;
}
#amount{
    margin-bottom: 10px ;
    border: 0;
    background: transparent;
    font-size: 18px;
}
.container{
    display: flex;
    gap: 30px;
    box-shadow: #e77979;
    margin-left: 157px;
    margin-right: 157px;
}
.needs1{
    background-color: rgba(61, 203, 177, 0.396);
    border-radius: 5px;
    padding: 23px;
    padding-top: 42px;
}
.needs2{
    background-color: rgba(109, 226, 36, 0.461);
    border-radius: 5px;
    padding: 23px;
    padding-top: 42px;
}
.need-title{
    color: black ;
    font-size: 20px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;
}
.need-des{
    color: #757575;
}
.one, .two{
    margin-top: 100px;
    padding-bottom: 50px;
    display: flex;
    
    gap: 30px;
    margin-left: 157px;
    margin-right: 140px;
}
.one-one, .one-photo{
    border-radius: 5px;
    padding: 0px;
 /* border: 2px solid #121212; */
    height: 370px;
    width: 540px;
    font-weight: 700;
    display: inline-block;
    
}
.one-one img, .one-photo img{
    height: 370px;
    width: 540px;
}
.btn-donate1{
    background: #f51010;
    height: 43px;
    width: 130px;
    border: 0;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 2px;
    padding: 16px 16px;
    color: white;
}
.subs{
    height: 150px;
    background-color: #fc9032;
    text-align: center;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.subs input{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 40px;
}
#email{
    height: 23px;
    width: 200px;
    border: 0;
    margin-top: 40px;
    padding-left: 10px;
    border-radius: 2px;
    margin-bottom: 100px;
}
.last{
    background-color: black;
    color: white;
    text-align: center;
    height: 130px;
    padding-top:43px ;
}
.last h1{
    margin-bottom: 10px ;
}